= semantic_form_for [@turma] do |form|
	= form.input :aluno, :member_label => :nome, :label => 'Nome' 
	= form.input :professordisciplina, :member_label => :periodo, :label => 'Periodo' 
	= form.submit 'Salvar'
